.content-container {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;

  .content-body {
    display: flex;
    gap: var(--_gap--content-body);

    .content-title {
      text-transform: uppercase;

      color: var(--_clr--content-heading);
      font-size: var(--_fs--content-heading);
      font-weight: var(--_fw--content-heading);
      max-width: var(--_max-width--content-heading);
      line-height: var(--_line-height--content-heading);
    }

    .content-description {
      color: var(--_clr--content-description);
      font-size: var(--_fs--content-description);
      font-weight: var(--_fw--content-description);
      max-width: var(--_max-width--content-description);
    }
  }

  .button-container {
    justify-self: end;

    button {
      border: none;
      cursor: pointer;

      margin-right: 2rem;
      color: var(--clr--content-button);
      background-color: var(--clr-bg--content-button);
      font-size: var(--fs--content-button);
      font-weight: var(--fw--content-button);
      padding: var(--padding--content-button);
    }
  }
  clip-path: inset(0 0 0 0);

  transition: clip-path var(--_toggle-animation-time);

  &.hidden {
    clip-path: inset(0 0 0 100%);
  }
}
